In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [3]:
path_datasets=Path(r'd:\datasets\small_datasets\katta')
list(path_datasets.iterdir())

[WindowsPath('d:/datasets/small_datasets/katta/data_casestudy.xlsx'),
 WindowsPath('d:/datasets/small_datasets/katta/Odometer & Registration Year Data.xlsx')]

In [4]:
datasets=list(path_datasets.iterdir())

In [6]:
df1=pd.read_excel(datasets[0], sheet_name=None)
df1

OrderedDict([('Price Data',
                        lead_id           make     model              variant     HVB  \
              0      1000000199          HONDA     CIVIC              1.8V AT  160000
              1      1000000494  MARUTI SUZUKI      RITZ            LXI BS IV  130000
              2      1000000593        HYUNDAI       EON           MAGNA PLUS  199000
              3      1000000794           FORD      FIGO      ZXI DURATEC 1.2  104000
              4      1000002298        HYUNDAI     VERNA  FLUIDIC 1.6 EX CRDI  412000
              ...           ...            ...       ...                  ...     ...
              70545  1129963695  MARUTI SUZUKI      ALTO              K10 VXI  214000
              70546  1129964191         TOYOTA  FORTUNER           3.0 MT 4X4  751750
              70547  1129972593  MARUTI SUZUKI     SWIFT                  ZXI  495000
              70548  1129973395         TOYOTA  FORTUNER           3.0 MT 4X4  850000
              70549  1129975194        HYUNDAI     VERNA             VGT CRDI   81000

                     totalRFC_summary
              0                 39500
              1                 27500
              2                 28000
              3                 27200
              4                 47500
              ...                 ...
              70545             23000
              70546             68000
              70547             25000
              70548             71000
              70549             57500

              [70550 rows x 6 columns]),
             ('Auction Data',
                        lead_id fuel_type  owner_number  number_of_dealers  \
              0      1000000199    Petrol             1                  4
              1      1000000494    Petrol             2                  4
              2      1000000593    Petrol             1                  6
              3      1000000794    Petrol             1                  3
              4      1000002298    Diesel             1                 12
              ...           ...       ...           ...                ...
              70545  1129963695    Petrol             1                  7
              70546  1129964191    Diesel             2                  2
              70547  1129972593    Petrol             1                  6
              70548  1129973395    Diesel             1                  8
              70549  1129975194    Diesel             3                  3

                     rating_accessoriesFeatures  rating_airConditioning  \
              0                               5                       3
              1                               5                       5
              2                               5                       5
              3                               5                       3
              4                               5                       5
              ...                           ...                     ...
              70545                           5                       4
              70546                           5                       3
              70547                           5                       5
              70548                           4                       4
              70549                           5                       4

                     rating_electricalsInterior  rating_engineTransmission  \
              0                               3                          4
              1                               4                          5
              2                               4                          4
              3                               3                          3
              4                               4                          3
              ...                           ...                        ...
              70545                           4                          4
              70546                           3                          3
              70547                           5                          5
              70548                           4                          3
              70549                           3                          3

                     rating_exteriorTyres  rating_steeringSuspensionBrakes  \
              0                         3                                3
              1                         2                                4
              2                         3                                4
              3                         3                                3
              4                         3                                4
              ...                     ...                              ...
              70545                     3                                4
              70546                     3                                3
              70547                     3                                5
              70548                     3                                4
              70549                     3                                3

                     number_of_dealers.1
              0                        4
              1                        4
              2                        6
              3                        3
              4                       12
              ...                    ...
              70545                    7
              70546                    2
              70547                    6
              70548                    8
              70549                    3

              [70550 rows x 11 columns]),
             ('Inspection Data',
                              a acCoolingIsNormal_airConditioning  \
              0      1000000199                               Yes
              1      1000000494                               Yes
              2      1000000593                               Yes
              3      1000000794                                No
              4      1000002298                               Yes
              ...           ...                               ...
              70545  1129963695                                No
              70546  1129964191                                No
              70547  1129972593                               Yes
              70548  1129973395                                No
              70549  1129975194                                No

                    acFanAndCompressorNoiseIsNormal_airConditioning  \
              0                                                  No
              1                                                 Yes
              2                                                 Yes
              3                                                 Yes
              4                                                 Yes
              ...                                               ...
              70545                                             Yes
              70546                                             Yes
              70547                                             Yes
              70548                                             Yes
              70549                                             Yes

                    autoClimateControl_airConditioning  \
              0                                    Yes
              1                                    NaN
              2                                    NaN
              3                                    NaN
              4                                    Yes
              ...                                  ...
              70545                                NaN
              70546                                Yes
              70547                                Yes
              70548                                Yes
              70549                                NaN

                    heaterOperationIsNormalAndEffective_airConditioning  \
              0                                                    Yes
              1                                                    Yes
              2                                                    Yes
              3                                                    Yes
              4                                                    Yes
              ...                                                  ...
              70545                                                Yes
              70546                                                Yes
              70547                                                Yes
              70548                                                Yes
              70549                                                Yes

                    interstateNocIssued_documentDetails  \
              0                                      No
              1                                      No
              2                                      No
              3                                      No
              4                                      No
              ...                                   ...
              70545                                  No
              70546                                  No
              70547                                  No
              70548                                  No
              70549                                  No

                    isUnderHypothecation_documentDetails  \
              0                                      Yes
              1                                       No
              2                                       No
              3                                      Yes
              4                                      Yes
              ...                                    ...
              70545                                   No
              70546                                   No
              70547                                  Yes
              70548                                  Yes
              70549                                   No

                    roadTaxPaidInterstate_documentDetails toBeScrapped_documentDetails  \
              0                                        No                           No
              1                                        No                           No
              2                                        No                           No
              3                                        No                           No
              4                                        No                           No
              ...                                     ...                          ...
              70545                                    No                           No
              70546                                    No                           No
              70547                                    No                           No
              70548                                    No                           No
              70549                                    No                           No

                    allDisplayLightsIsWorkingProperly_electricalsInterior  ...  \
              0                                                    Yes     ...
              1                                                    Yes     ...
              2                                                    Yes     ...
              3                                                    Yes     ...
              4                                                    Yes     ...
              ...                                                  ...     ...
              70545                                                Yes     ...
              70546                                                Yes     ...
              70547                                                Yes     ...
              70548                                                Yes     ...
              70549                                                Yes     ...

                    bonnet_exteriorTyres bothOutsideRearViewMirrorsAreOk_exteriorTyres  \
              0                       No                                           Yes
              1                      Yes                                           Yes
              2                      Yes                                           Yes
              3                       No                                           Yes
              4                      Yes                                           Yes
              ...                    ...                                           ...
              70545                  Yes                                           Yes
              70546                  Yes                                            No
              70547                  Yes                                           Yes
              70548                   No                                           Yes
              70549                   No                                            No

                    isChassisPlateAvailable_exteriorTyres lhsApron_exteriorTyres  \
              0                                       Yes                    Yes
              1                                       Yes                    Yes
              2                                       Yes                    Yes
              3                                       Yes                    Yes
              4                                       Yes                    Yes
              ...                                     ...                    ...
              70545                                   Yes                    Yes
              70546                                   Yes                    Yes
              70547                                   Yes                    Yes
              70548                                   Yes                    Yes
              70549                                   Yes                    Yes

                    lhsFrontDoor_exteriorTyres lhsRearDoor_exteriorTyres  \
              0                            Yes                       Yes
              1                            Yes                       Yes
              2                            Yes                       Yes
              3                             No                        No
              4                            Yes                       Yes
              ...                          ...                       ...
              70545                        Yes                       Yes
              70546                        Yes                       Yes
              70547                        Yes                       Yes
              70548                        Yes                       Yes
              70549                        Yes                       Yes

                    rearDefoggerWorkProperly_exteriorTyres rhsApron_exteriorTyres  \
              0                                        Yes                    Yes
              1                                         No                    Yes
              2                                         No                    Yes
              3                                        Yes                    Yes
              4                                        Yes                    Yes
              ...                                      ...                    ...
              70545                                     No                    Yes
              70546                                    Yes                    Yes
              70547                                    Yes                    Yes
              70548                                    Yes                    Yes
              70549                                    Yes                    Yes

                    rhsFrontDoor_exteriorTyres rhsRearDoor_exteriorTyres
              0                            Yes                       Yes
              1                            Yes                       Yes
              2                            Yes                        No
              3                             No                        No
              4                            Yes                       Yes
              ...                          ...                       ...
              70545                        Yes                       Yes
              70546                        Yes                       Yes
              70547                        Yes                       Yes
              70548                        Yes                       Yes
              70549                        Yes                       Yes

              [70550 rows x 32 columns]),
             ('Data Dictonary',
                                                            lead_id  \
              0                                                make
              1                                               model
              2                                             variant
              3                                           fuel_type
              4                                        owner_number
              5                                     inspection_date
              6                                    odometer_reading
              7                                                 HVB
              8                   acCoolingIsNormal_airConditioning
              9     acFanAndCompressorNoiseIsNormal_airConditioning
              10                 autoClimateControl_airConditioning
              11  heaterOperationIsNormalAndEffective_airConditi...
              12                interstateNocIssued_documentDetails
              13               isUnderHypothecation_documentDetails
              14              roadTaxPaidInterstate_documentDetails
              15                       toBeScrapped_documentDetails
              16  allDisplayLightsIsWorkingProperly_electricalsI...
              17          doorFunctionsProperly_electricalsInterior
              18           musicSystemWorksFine_electricalsInterior
              19     powerWindowWorkingProperly_electricalsInterior
              20     reverseCameraParkingSensor_electricalsInterior
              21  batteryPerformanceSatisfactory_engineTransmission
              22  clutchOperatesSmoothlyWithoutSlipping_engineTr...
              23                         coolant_engineTransmission
              24     engineExcessiveBlowByOrBack_engineTransmission
              25              engineExhaustSmoke_engineTransmission
              26                       engineOil_engineTransmission
              27             engineSoundIsNormal_engineTransmission
              28       gearShiftingWorksProperly_engineTransmission
              29                               bonnet_exteriorTyres
              30      bothOutsideRearViewMirrorsAreOk_exteriorTyres
              31              isChassisPlateAvailable_exteriorTyres
              32                             lhsApron_exteriorTyres
              33                         lhsFrontDoor_exteriorTyres
              34                          lhsRearDoor_exteriorTyres
              35             rearDefoggerWorkProperly_exteriorTyres
              36                             rhsApron_exteriorTyres
              37                         rhsFrontDoor_exteriorTyres
              38                          rhsRearDoor_exteriorTyres
              39                                   totalRFC_summary
              40                         rating_accessoriesFeatures

In [9]:
df1.keys()

odict_keys(['Price Data', 'Auction Data', 'Inspection Data', 'Data Dictonary'])

In [11]:
df_price=df1['Price Data']
df_auction=df1['Auction Data']
df_inspection=df1['Inspection Data']
df_data=df1['Data Dictonary']

In [12]:
df_price.head()

,lead_id,make,model,variant,HVB,totalRFC_summary
0,1000000199,HONDA,CIVIC,1.8V AT,160000,39500
1,1000000494,MARUTI SUZUKI,RITZ,LXI BS IV,130000,27500
2,1000000593,HYUNDAI,EON,MAGNA PLUS,199000,28000
3,1000000794,FORD,FIGO,ZXI DURATEC 1.2,104000,27200
4,1000002298,HYUNDAI,VERNA,FLUIDIC 1.6 EX CRDI,412000,47500

In [13]:
df_auction.head()

,lead_id,fuel_type,owner_number,number_of_dealers,rating_accessoriesFeatures,rating_airConditioning,rating_electricalsInterior,rating_engineTransmission,rating_exteriorTyres,rating_steeringSuspensionBrakes,number_of_dealers.1
0,1000000199,Petrol,1,4,5,3,3,4,3,3,4
1,1000000494,Petrol,2,4,5,5,4,5,2,4,4
2,1000000593,Petrol,1,6,5,5,4,4,3,4,6
3,1000000794,Petrol,1,3,5,3,3,3,3,3,3
4,1000002298,Diesel,1,12,5,5,4,3,3,4,12

In [14]:
df_price.head()

,lead_id,make,model,variant,HVB,totalRFC_summary
0,1000000199,HONDA,CIVIC,1.8V AT,160000,39500
1,1000000494,MARUTI SUZUKI,RITZ,LXI BS IV,130000,27500
2,1000000593,HYUNDAI,EON,MAGNA PLUS,199000,28000
3,1000000794,FORD,FIGO,ZXI DURATEC 1.2,104000,27200
4,1000002298,HYUNDAI,VERNA,FLUIDIC 1.6 EX CRDI,412000,47500

In [15]:
df_inspection.head()

,a,acCoolingIsNormal_airConditioning,acFanAndCompressorNoiseIsNormal_airConditioning,autoClimateControl_airConditioning,heaterOperationIsNormalAndEffective_airConditioning,interstateNocIssued_documentDetails,isUnderHypothecation_documentDetails,roadTaxPaidInterstate_documentDetails,toBeScrapped_documentDetails,allDisplayLightsIsWorkingProperly_electricalsInterior,...,bonnet_exteriorTyres,bothOutsideRearViewMirrorsAreOk_exteriorTyres,isChassisPlateAvailable_exteriorTyres,lhsApron_exteriorTyres,lhsFrontDoor_exteriorTyres,lhsRearDoor_exteriorTyres,rearDefoggerWorkProperly_exteriorTyres,rhsApron_exteriorTyres,rhsFrontDoor_exteriorTyres,rhsRearDoor_exteriorTyres
0,1000000199,Yes,No,Yes,Yes,No,Yes,No,No,Yes,...,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
1,1000000494,Yes,Yes,NaN,Yes,No,No,No,No,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes
2,1000000593,Yes,Yes,NaN,Yes,No,No,No,No,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,No
3,1000000794,No,Yes,NaN,Yes,No,Yes,No,No,Yes,...,No,Yes,Yes,Yes,No,No,Yes,Yes,No,No
4,1000002298,Yes,Yes,Yes,Yes,No,Yes,No,No,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [23]:
df_inspection.rename(columns={'a':'lead_id'}, inplace=True)

In [16]:
df_data.head()

        lead_id       unique appointment id given to each customer
0          make                                       Brand of car
1         model                                  Model name of car
2       variant                                     Variant of car
3     fuel_type                                   fuel type of car
4  owner_number   Signifies whether the owner is 1st ,2nd or so on

In [17]:
df_price.shape, df_inspection.shape, df_auction.shape

((70550, 6), (70550, 32), (70550, 11))

In [24]:
df_1=df_price.merge(df_inspection.merge(df_auction, on='lead_id', how='inner'), on='lead_id', how='inner')
df_1.shape

(70550, 47)

In [25]:
df_1.head()

,lead_id,make,model,variant,HVB,totalRFC_summary,acCoolingIsNormal_airConditioning,acFanAndCompressorNoiseIsNormal_airConditioning,autoClimateControl_airConditioning,heaterOperationIsNormalAndEffective_airConditioning,...,fuel_type,owner_number,number_of_dealers,rating_accessoriesFeatures,rating_airConditioning,rating_electricalsInterior,rating_engineTransmission,rating_exteriorTyres,rating_steeringSuspensionBrakes,number_of_dealers.1
0,1000000199,HONDA,CIVIC,1.8V AT,160000,39500,Yes,No,Yes,Yes,...,Petrol,1,4,5,3,3,4,3,3,4
1,1000000494,MARUTI SUZUKI,RITZ,LXI BS IV,130000,27500,Yes,Yes,NaN,Yes,...,Petrol,2,4,5,5,4,5,2,4,4
2,1000000593,HYUNDAI,EON,MAGNA PLUS,199000,28000,Yes,Yes,NaN,Yes,...,Petrol,1,6,5,5,4,4,3,4,6
3,1000000794,FORD,FIGO,ZXI DURATEC 1.2,104000,27200,No,Yes,NaN,Yes,...,Petrol,1,3,5,3,3,3,3,3,3
4,1000002298,HYUNDAI,VERNA,FLUIDIC 1.6 EX CRDI,412000,47500,Yes,Yes,Yes,Yes,...,Diesel,1,12,5,5,4,3,3,4,12

In [26]:
df_1.to_csv(path_datasets.joinpath('df_1.csv'))

In [28]:
df2=pd.read_excel(datasets[1])
df2

           lead_id  year  odometer
0       1069805891  2011     61501
1       1027921290  2007     95377
2       1005265699  2010     67119
3       1043144997  2011     98169
4       1027940299  2007     91441
...            ...   ...       ...
128794  1023174296  2011     45702
128795  1006498796  2011     45737
128796  1033655890  2011     56946
128797  1017647392  2011     54007
128798  1120413590  2010     96159

[128799 rows x 3 columns]

In [31]:
df_1=df_1.merge(df2, on='lead_id', how='left')
df_1.shape

(70550, 49)

In [32]:
df_1.head()

,lead_id,make,model,variant,HVB,totalRFC_summary,acCoolingIsNormal_airConditioning,acFanAndCompressorNoiseIsNormal_airConditioning,autoClimateControl_airConditioning,heaterOperationIsNormalAndEffective_airConditioning,...,number_of_dealers,rating_accessoriesFeatures,rating_airConditioning,rating_electricalsInterior,rating_engineTransmission,rating_exteriorTyres,rating_steeringSuspensionBrakes,number_of_dealers.1,year,odometer
0,1000000199,HONDA,CIVIC,1.8V AT,160000,39500,Yes,No,Yes,Yes,...,4,5,3,3,4,3,3,4,2008.0,56749.0
1,1000000494,MARUTI SUZUKI,RITZ,LXI BS IV,130000,27500,Yes,Yes,NaN,Yes,...,4,5,5,4,5,2,4,4,2010.0,84215.0
2,1000000593,HYUNDAI,EON,MAGNA PLUS,199000,28000,Yes,Yes,NaN,Yes,...,6,5,5,4,4,3,4,6,2015.0,34794.0
3,1000000794,FORD,FIGO,ZXI DURATEC 1.2,104000,27200,No,Yes,NaN,Yes,...,3,5,3,3,3,3,3,3,2010.0,72326.0
4,1000002298,HYUNDAI,VERNA,FLUIDIC 1.6 EX CRDI,412000,47500,Yes,Yes,Yes,Yes,...,12,5,5,4,3,3,4,12,2012.0,76961.0