In [1]:
%matplotlib inline

In [2]:
from pathlib import Path
# from fastcore import *
Path.ls=lambda x: list(x.iterdir())

In [3]:
path_data=Path(r'D:\datasets\new_datasets')
list(path_data.iterdir())

[WindowsPath('D:/datasets/new_datasets/caterpillar-tube-pricing'),
 WindowsPath('D:/datasets/new_datasets/costa-rican-household-poverty-prediction'),
 WindowsPath('D:/datasets/new_datasets/flavours-of-physics-kernels-only'),
 WindowsPath('D:/datasets/new_datasets/higgs-boson'),
 WindowsPath('D:/datasets/new_datasets/leaf-classification'),
 WindowsPath('D:/datasets/new_datasets/mercedes-benz-greener-manufacturing'),
 WindowsPath('D:/datasets/new_datasets/msk-redefining-cancer-treatment'),
 WindowsPath('D:/datasets/new_datasets/MusicHackathon'),
 WindowsPath('D:/datasets/new_datasets/nomad2018-predict-transparent-conductors'),
 WindowsPath('D:/datasets/new_datasets/porto-seguro-safe-driver-prediction'),
 WindowsPath('D:/datasets/new_datasets/predict-west-nile-virus'),
 WindowsPath('D:/datasets/new_datasets/predict-who-is-more-influential-in-a-social-network'),
 WindowsPath('D:/datasets/new_datasets/random-acts-of-pizza'),
 WindowsPath('D:/datasets/new_datasets/recruit-restaurant-visitor-forecasting'),
 WindowsPath('D:/datasets/new_datasets/sberbank-russian-housing-market'),
 WindowsPath('D:/datasets/new_datasets/spooky-author-identification'),
 WindowsPath('D:/datasets/new_datasets/whats-cooking')]

In [4]:
path_house=path_data/'sberbank-russian-housing-market'
list(path_house.iterdir())

[WindowsPath('D:/datasets/new_datasets/sberbank-russian-housing-market/data_dictionary.txt'),
 WindowsPath('D:/datasets/new_datasets/sberbank-russian-housing-market/macro.csv.zip'),
 WindowsPath('D:/datasets/new_datasets/sberbank-russian-housing-market/New folder'),
 WindowsPath('D:/datasets/new_datasets/sberbank-russian-housing-market/sample_submission.csv.zip'),
 WindowsPath('D:/datasets/new_datasets/sberbank-russian-housing-market/test.csv'),
 WindowsPath('D:/datasets/new_datasets/sberbank-russian-housing-market/train.csv'),
 WindowsPath('D:/datasets/new_datasets/sberbank-russian-housing-market/__MACOSX')]

In [5]:
path_house_train=path_house/'train.csv'
path_house_test=path_house/'test.csv'

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
df_train=pd.read_csv(path_house_train, index_col='id', parse_dates=['timestamp'], infer_datetime_format=True)
df_train.head()

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
id,,,,,,,,,,,,,,,,,,,,,
1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [8]:
df_train.shape

(30471, 291)

In [9]:
df_train.isnull().mean()

timestamp             0.000000
full_sq               0.000000
life_sq               0.209478
floor                 0.005481
max_floor             0.314135
                        ...
mosque_count_5000     0.000000
leisure_count_5000    0.000000
sport_count_5000      0.000000
market_count_5000     0.000000
price_doc             0.000000
Length: 291, dtype: float64

In [10]:
x_train, x_test, y_train, y_test= train_test_split(df_train.drop(columns='price_doc'), df_train['price_doc'], test_size=0.3)
x_train.shape, y_train.shape

((21329, 290), (21329,))

In [11]:
df_train.select_dtypes(include='object')

,product_type,sub_area,culture_objects_top_25,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,water_1line,big_road1_1line,railroad_1line,ecology
id,,,,,,,,,,,,,,,
1,Investment,Bibirevo,no,no,no,no,no,no,no,no,no,no,no,no,good
2,Investment,Nagatinskij Zaton,yes,no,no,no,no,no,no,no,no,no,no,no,excellent
3,Investment,Tekstil'shhiki,no,no,no,no,yes,no,no,no,no,no,no,no,poor
4,Investment,Mitino,no,no,no,no,no,no,no,no,no,no,no,no,good
5,Investment,Basmannoe,no,no,no,no,yes,yes,no,no,no,no,no,yes,excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30469,Investment,Otradnoe,no,no,yes,no,yes,no,no,no,no,no,no,no,good
30470,Investment,Tverskoe,yes,no,no,no,yes,yes,no,no,yes,no,no,no,poor
30471,OwnerOccupier,Poselenie Vnukovskoe,no,no,no,no,no,no,no,no,no,no,no,no,no data
30472,Investment,Obruchevskoe,no,no,no,no,yes,no,no,no,no,no,no,no,satisfactory
30473,Investment,Novogireevo,no,no,no,no,yes,no,no,no,no,no,no,no,poor

In [12]:
df_train.select_dtypes(include='object').columns

Index(['product_type', 'sub_area', 'culture_objects_top_25',
       'thermal_power_plant_raion', 'incineration_raion',
       'oil_chemistry_raion', 'radiation_raion', 'railroad_terminal_raion',
       'big_market_raion', 'nuclear_reactor_raion', 'detention_facility_raion',
       'water_1line', 'big_road1_1line', 'railroad_1line', 'ecology'],
      dtype='object')

In [13]:
cat_cols=['product_type', 'sub_area', 'culture_objects_top_25',
       'thermal_power_plant_raion', 'incineration_raion',
       'oil_chemistry_raion', 'radiation_raion', 'railroad_terminal_raion',
       'big_market_raion', 'nuclear_reactor_raion', 'detention_facility_raion',
       'water_1line', 'big_road1_1line', 'railroad_1line', 'ecology']
bools=[ 'culture_objects_top_25',
       'thermal_power_plant_raion', 'incineration_raion',
       'oil_chemistry_raion', 'radiation_raion', 'railroad_terminal_raion',
       'big_market_raion', 'nuclear_reactor_raion', 'detention_facility_raion',
       'water_1line', 'big_road1_1line', 'railroad_1line']

In [14]:
for i in bools:
    print(i, df_train[i].nunique())

culture_objects_top_25 2
thermal_power_plant_raion 2
incineration_raion 2
oil_chemistry_raion 2
radiation_raion 2
railroad_terminal_raion 2
big_market_raion 2
nuclear_reactor_raion 2
detention_facility_raion 2
water_1line 2
big_road1_1line 2
railroad_1line 2

In [15]:
df_train[bools] = df_train[bools].replace({'yes': True, 'no':False})

In [16]:
df_train.select_dtypes(include='object')

        product_type              sub_area       ecology
id
1         Investment              Bibirevo          good
2         Investment     Nagatinskij Zaton     excellent
3         Investment        Tekstil'shhiki          poor
4         Investment                Mitino          good
5         Investment             Basmannoe     excellent
...              ...                   ...           ...
30469     Investment              Otradnoe          good
30470     Investment              Tverskoe          poor
30471  OwnerOccupier  Poselenie Vnukovskoe       no data
30472     Investment          Obruchevskoe  satisfactory
30473     Investment           Novogireevo          poor

[30471 rows x 3 columns]

In [17]:
x_train.isnull().values

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False,  True, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [19]:
df_train.select_dtypes(include='O').columns

Index(['product_type', 'sub_area', 'ecology'], dtype='object')

In [20]:
df_train['product_type'].value_counts()

Investment       19448
OwnerOccupier    11023
Name: product_type, dtype: int64

In [31]:
x_train.head()

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
id,,,,,,,,,,,,,,,,,,,,,
9416,2013-07-24,39,39.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,47,11,6,0,14,22,1,1,65,7
21084,2014-07-24,36,19.0,14.0,17.0,1.0,1999.0,1.0,6.0,2.0,...,28,10,1,0,12,14,1,1,61,4
26410,2014-12-15,35,19.0,9.0,12.0,5.0,1967.0,1.0,9.0,2.0,...,38,12,2,0,14,24,1,2,78,4
26090,2014-12-09,63,63.0,8.0,17.0,6.0,2016.0,2.0,9.0,1.0,...,5,1,1,0,2,12,0,1,10,0
4103,2012-10-08,44,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,11,3,2,0,2,16,1,0,20,4

In [32]:
x_train.timestamp.isna().mean()

0.0

In [39]:
def add_datepart(df:pd.DataFrame, cols:list=None, just_date:bool=True,inplace:bool=True)->pd.DataFrame:
    date_part=['year','month','day','week','dayofweek','weekday','quarter','is_month_start','is_month_end','is_year_end']
    time_part=['time','hour','minute','second']
    for i in cols:
        if not just_date:
            for j in time_part:
                df[f'{i}_{j}']=getattr(df[i].dt,j)
        for j in date_part:
            df[f'{i}_{j}']=getattr(df[i].dt,j)
    df.drop(columns=cols, inplace=True)
    return df

In [40]:
add_datepart(x_train, cols=['timestamp'])

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,...,timestamp_year,timestamp_month,timestamp_day,timestamp_week,timestamp_dayofweek,timestamp_weekday,timestamp_quarter,timestamp_is_month_start,timestamp_is_month_end,timestamp_is_year_end
id,,,,,,,,,,,,,,,,,,,,,
9416,39,39.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,2013,7,24,30,2,2,3,False,False,False
21084,36,19.0,14.0,17.0,1.0,1999.0,1.0,6.0,2.0,Investment,...,2014,7,24,30,3,3,3,False,False,False
26410,35,19.0,9.0,12.0,5.0,1967.0,1.0,9.0,2.0,Investment,...,2014,12,15,51,0,0,4,False,False,False
26090,63,63.0,8.0,17.0,6.0,2016.0,2.0,9.0,1.0,OwnerOccupier,...,2014,12,9,50,1,1,4,False,False,False
4103,44,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,...,2012,10,8,41,0,0,4,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5586,51,51.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,...,2012,12,30,52,6,6,4,False,False,False
29252,81,1.0,13.0,1.0,1.0,2016.0,3.0,1.0,1.0,OwnerOccupier,...,2015,4,20,17,0,0,2,False,False,False
12502,52,30.0,3.0,17.0,1.0,1998.0,2.0,8.0,3.0,Investment,...,2013,11,26,48,1,1,4,False,False,False
22500,78,NaN,15.0,17.0,6.0,NaN,2.0,1.0,1.0,OwnerOccupier,...,2014,9,15,38,0,0,3,False,False,False
21755,31,19.0,3.0,5.0,1.0,1960.0,1.0,5.0,2.0,Investment,...,2014,8,21,34,3,3,3,False,False,False

In [41]:
cat_cols=set([i for i in x_train.columns if x_train[i].nunique()<15])
num_cols=set(x_train.columns)-cat_cols

In [43]:
len(cat_cols.union(num_cols))

299

In [46]:
x_train

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,...,timestamp_year,timestamp_month,timestamp_day,timestamp_week,timestamp_dayofweek,timestamp_weekday,timestamp_quarter,timestamp_is_month_start,timestamp_is_month_end,timestamp_is_year_end
id,,,,,,,,,,,,,,,,,,,,,
9416,39,39.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,2013,7,24,30,2,2,3,False,False,False
21084,36,19.0,14.0,17.0,1.0,1999.0,1.0,6.0,2.0,Investment,...,2014,7,24,30,3,3,3,False,False,False
26410,35,19.0,9.0,12.0,5.0,1967.0,1.0,9.0,2.0,Investment,...,2014,12,15,51,0,0,4,False,False,False
26090,63,63.0,8.0,17.0,6.0,2016.0,2.0,9.0,1.0,OwnerOccupier,...,2014,12,9,50,1,1,4,False,False,False
4103,44,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,...,2012,10,8,41,0,0,4,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5586,51,51.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,...,2012,12,30,52,6,6,4,False,False,False
29252,81,1.0,13.0,1.0,1.0,2016.0,3.0,1.0,1.0,OwnerOccupier,...,2015,4,20,17,0,0,2,False,False,False
12502,52,30.0,3.0,17.0,1.0,1998.0,2.0,8.0,3.0,Investment,...,2013,11,26,48,1,1,4,False,False,False
22500,78,NaN,15.0,17.0,6.0,NaN,2.0,1.0,1.0,OwnerOccupier,...,2014,9,15,38,0,0,3,False,False,False
21755,31,19.0,3.0,5.0,1.0,1960.0,1.0,5.0,2.0,Investment,...,2014,8,21,34,3,3,3,False,False,False

In [49]:
x_train.shape[0]

21329

In [57]:
import numpy as np

In [135]:
class dframe():
    def __init__(self, df:pd.DataFrame, var_cols:list=None, num_cols:list=None):
        self.df= df
        self.cat_cols=var_cols
        self.num_cols=num_cols
    
    @classmethod
    def split_val(self, df:pd.DataFrame, val_pct:float=0.3):
        'returns `df_train` and `df_valid`'
        shuf_idx=np.random.permutation(len(df))
        train_idx, val_idx=shuf_idx[int(val_pct*len(df)):], shuf_idx[:int(val_pct*len(df))]
        return df.iloc[train_idx,:], df.iloc[val_idx,:]
    
    @classmethod
    def split_dep_col(self, df:pd.DataFrame, y:str):
        'returns `x` and `y`'
        return df.drop(columns=y), df.loc[:, y]
    
    @classmethod
    def split_test_val(self, df:pd.DataFrame, y:str, val_pct:float=0.3):
        ''' df 'pandas datadrame object `y` is the dependent column val_pct:=0.3'
        returns `x_train`, `y_train`, `x_valid`, `y_valid`'''
        df_train, df_val= self.split_val(df, val_pct)
        return self.split_dep_col(df_train, y), self.split_depcol(df_val, y)
    
    @classmethod
    def impute_na(self, df:pd.DataFrame, col, impute_var):
        return df[col].fillna(impute_var)
    
    @classmethod
    def missing_indicator(self, df:pd.DataFrame, cols:list):
        for i in cols:
            df[i+'_na']=np.where(df[variable].isnull(), 1, 0)
        return df
    
    @classmethod
    def impute_num_vars(self, df:pd.DataFrame, num_vars: list, method:str='mean'):
        for i in num_vars:
            if method=='mean':
                df[i]=impute_na(df, i, df[i].mean())
            if method=='median':
                df[i]=impute_na(df, i, df[i].median())
                
    def impute_cat_vars(self, df:pd.DataFrame, cat_cols:list, method='frequent', ind:bool=False):
        if ind:
            df=missing_indicator(df, cat_cols)
        for i in cat_cols:
            if method=='missing':
                df.loc[:,i]=impute_na(df, i, 'missing', inplace=True)
            if method=='frequent':
                var=df[i].value_counts().sort_values(ascending=False)[0]
                df.loc[:,i]=impute_na(df, i, var, inplace=True)
            if method=='extreme':
                IQR=df[i].quantile(0.75)-df[i].quantile(0.25)
                extreme_val=df[i].quantile(0.75)+3*IQR
                var=df.loc[:,i]=impute_na(df, i, extreme_val)

In [127]:
x_train, x_val=dframe(df)

In [128]:
x_train.shape, y_train.shape

((21330, 291), (9141, 291))

In [130]:
(x_train, y_train), (x_val, y_val)= dframe().split_testval(df_train, y='price_doc')

In [131]:
x_train.shape, x_val.shape

((21330, 290), (9141, 290))

In [132]:
y_train.shape, y_val.shape

((21330,), (9141,))